<div class="centered">
  <h1>Resultados da busca</h1>
  <div class="parameters-box">
    @if (term) {
      <div class="card">
        <div class="type">Termos</div>
        <div class="value">{{ term }}</div>
      </div>
    }
    @let status = statusName(statusId);
    @if (status) {
      <div class="card">
        <div class="type">Status</div>
        <div class="value">{{ status }}</div>
      </div>
    }
  </div>
  <div class="box">
    @if (tickets.length == 0) {
      <div class="card empty">
        Nenhum ticket encontrado!
      </div>
    }
    @for (ticket of tickets; track ticket.id) {
    <div class="card">
      <div class="identifier">{{ticket.id}}</div>
      <div class="title">{{ ticket.title }}</div>
      <div class="description">{{ ticket.description }}</div>
      <div class="metadata">Projeto: {{ projectName(ticket.project) }} | Status: {{ statusName(ticket.status) }}</div>
    </div>
  }
  </div>
</div> 