$base-background-color: #023164;
$base-background-color-light: #03458C;
$base-contrast-color: #FC4D4A;
$base-highlight-color: #A00603;
$base-active-color: #446DF6;
$base-error-color: #BF0603;
$base-secondary-bg-color: #ECF0FE;
$base-secondary-color: #01172F;
$base-secondary-bg-active-color: #C5D1FC;
$base-secondary-active-color: #01172F;