/* You can add global styles to this file, and also import other style files */

// https://coolors.co/01172f-d9e8df-00635d-bf0603-446df6

body {
    margin: 0;
}

input, select {
    box-sizing: border-box;
    border: solid 1px #888;
    border-radius: 0.3rem;
    background-color: #FFF;
    padding: 0.2rem 2rem 0.2rem 0.5rem;
}