<div class="modal">
  <div class="header">
    <h2 mat-dialog-title>Criar Ticket</h2>
  </div>
  <div class="body">
    <form>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Projeto</mat-label>
        <mat-select [(ngModel)]="projectId" name="projectId" required>
          <mat-option [value]="null" disabled>Selecione...</mat-option>
          @for (proj of projects; track proj.id) {
          <mat-option [value]="proj.id">{{proj.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput [(ngModel)]="title" name="title" required />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)]="description" name="description" rows="4" required></textarea>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="category" name="categoryId" required>
          <mat-option [value]="null" disabled>Selecione...</mat-option>
          @for (cat of categories; track cat.id) {
            <mat-option [value]="cat">{{cat.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form> 
  </div>
  <div class="actions">
    <div class="form-actions">
      <button [disabled]="!title || !description || !category || !projectId" (click)="createTicket()">Criar</button>
      <button class="cancel" (click)="close()">Cancelar</button>
    </div>
  </div>
</div>