<div class="centered">
  <div class="home-content">
    <h1 i18n>MorphoBoard</h1>
    <p i18n>Bem-vindo ao sistema de gerenciamento de tickets</p>
    @if (isAuthenticated()) {
    <div class="box">
      @if (projects.length == 0) {
      <div class="card empty" i18n>
        Nenhum projeto...
      </div>  
      }
      @for (project of projects; track project.name) {
      <div class="card">
        <div class="title">{{ project.name }}</div>
        <div title="{{ project.description }}" class="description">{{ project.description | trim:100 }}</div>
        <button class="btn" matButton [routerLink]="['/project', project.id, 'kanban']">
          <mat-icon fontIcon="view_kanban"></mat-icon><span i18n>Kanban</span>
        </button>
        <button class="btn" matButton [routerLink]="['/project', project.id, 'dashboard']">
          <mat-icon fontIcon="query_stats"></mat-icon><span i18n>Dasboard</span>
        </button>
      </div>
      }
    </div>
    }
  </div>
</div> 