<div class="main centered">
    <div class="form-header">
        <h2 i18n>MorphoBoard - Recuperar Senha</h2>
        <p i18n>Sistema de gerenciamento de tickets</p>
    </div>
    <ng-template #customToast let-message="message">
        <div style="display: flex; align-items: center;">
            <span style="font-weight: bold; margin-right: 8px;">Custom:</span>
            <span>{{ message }}</span>
        </div>
    </ng-template>
    <form [formGroup]="passwordResetForm" (ngSubmit)="recoverPassword()">
        <mat-form-field class="form-field" appearance="fill">
            <mat-label i18n>E-mail ou username</mat-label>
            <input matInput formControlName="credential" required />
            <mat-error *ngIf="passwordResetForm.get('credential')?.hasError('required')">
                <span i18n>E-mail ou username é obrigatório</span>
            </mat-error>
            <mat-error *ngIf="passwordResetForm.get('credential')?.hasError('minlength')">
                <span i18n>Credencial deve ter pelo menos 3 caracteres</span>
            </mat-error>
        </mat-form-field>
        <div>
            <button class="btn" mat-flat-button color="primary" type="submit"
                [disabled]="passwordResetForm.invalid || isLoading">
                <mat-icon fontIcon="login"></mat-icon>
                <span i18n>{{ isLoading ? 'Enviando...' : 'Recuperar' }}</span>
            </button>
            <button class="btn btn-secondary" mat-button type="button" [routerLink]="'/login'">
                <mat-icon fontIcon="arrow_back"></mat-icon>
                <span i18n>Voltar</span>
            </button>
        </div>
    </form>
</div>